name: build
on:
  push:
    branches:
      - "**"
    tags:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    defaults:
      run:
        working-directory: 1.21.11-fabric/
    steps:
      - uses: actions/checkout@v4

      - uses: gradle/actions/wrapper-validation@v4

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
      - run: chmod +x ./gradlew

      - run: ./gradlew build

      - uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: 1.21.11-fabric/build/libs/*
